* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 10px;
    background: rgb(245, 161, 92);
}
.header{
    background-color: rgb(44, 42, 38);
    min-height: 150px;
    padding: 1px;
    color: rgb(85, 241, 98);
    text-align: center;
}
.header h1{
    font-size: 50px;
}
.style .dn{    
    float:right;
}
.dn a{
    color:white;
    font-variant: small-caps;
}
.dn:hover{
    background-color: rgb(143, 143, 245);
}
.banner>img{
    width: 100%;
    padding: 10px;
}
.style>nav{
    line-height: 20px;
    background-color:black;
    font-variant: small-caps;
    overflow: hidden;
    
    font-size: 15px;
}
.style>nav>a{
    color:white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 20px;
    float:left;
}
.style a:hover{
    background-color:rgb(143, 143, 245);
}
.style>aside{
    text-align: center;
    min-height: 20px;
    width: 22%;
    background-color:rgb(44, 42, 38);
    float: right;
    color: white;
}
.gioithieu{
    text-align: center;
    background-color: rgb(44, 42, 38);
    min-height: 300px;
}
.gioithieu iframe{
    width: 250px;
    height: 200px;
}
.theodoi {
    background-color: rgb(44, 42, 38);
    text-align: center;
    margin-bottom: 30px;
    min-height: 200px;
    padding:0%;
    margin: 0px;
}
.footer{
    padding: 10px;
    text-align: center;
    background: rgb(14, 34, 34);
    margin-top: 1100px;
    background-color: gray;
}
.footer>a{
    text-decoration: none;
    color: black;
    padding: 8px 10px;
}
.footer a:hover{
    color: white;
}
.menu{
    float: left;
    width: 25%;
    padding: 20px;
    margin:0 0 auto;
    background-color:rgb(44, 42, 38);
}
.tieude{
    text-align: center;
    background-color: rgb(44, 42, 38);
    width:300px;
    float: left;
    min-height: 444px;
    color: white;
}
.tieude>p{
    background-color:rgb(226, 108, 108);
}
.tieude>p>a{
    text-decoration: none;
    color:white;
}
.tieude img{
    width: 270px;
    height: 350px;
}
.tieude>a:hover{
    opacity: 1;
    transition: all 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 3s linear;
}
.tieude>a>img:hover{
    border: 3px solid rgb(143, 143, 245);
    border-radius: 10px;
    transform: scale(1.09);
}
.icon a {
    padding: 4px 30px;
    color: #fff;
    line-height: 2em;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 4px;
}
.icon span.fa {
    margin-right: 3px;
}

.bg-faceb{
    background: #3a5899;
}

.bg-faceb:hover, .bg-facebook:focus {
    background: #1d418d;
}
.bg-insta{
    background:rgb(235, 144, 159);
}
.bg-youtube{
    background:red;
}
.xem{
    text-align: center;
    display: block;
}
.xem:hover{
    background-color: rgb(143, 143, 245);
}
.tieudes{
    padding: 5px;
  
    margin-top: 5px;
    text-align: left;

}
.style marquee{
    line-height: 40px;
    background-color: pink;
    color: black;
}